---
layout: default
published: true
---
<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
      <h1 id="project_title">Terrell&#39;s Transit Directions</h1>
      <h2 id="project_tagline">Transit directions for travel via public transportation in New York City.</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
    <h3>
      <a name="welcome" class="anchor" href="#welcome"><span class="octicon octicon-link"></span></a>Welcome!</h3>
      <p>
        This is where I will host the transit directions that I distribute. Those which I post for the convenience of Bronx Science Key Club are listed below. This will make things so much easier for me, so I'm pretty excited. I'll also get to test some stuff which is cool.<br>
        I have to thank Danny Qiu for helping me tremendously with the gaining of the knowledge I need to work this website, and learning is fun! -hah-<br>
        -Terrell
      </p>
  </section>
  <section class="inner">
   <h3>Directions:</h3>
   <hr align="LEFT">
  {% for direction in site.posts %}
    <h4><a href="{{ direction.url }}">{{ direction.title }}</a> {% if direction.entity %}<span style="font-size: 16px;">[{{ direction.entity }}] -</span> {% else %}- {% endif %} <span style="font-size: 14px;">{{ direction.time }}</span></h4>
    <hr align="LEFT">
  {% endfor %}
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p>&copy; 2014 Terrell Merritt - Bronx High School of Science</p>
  </footer>
</div>
