header{
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #000000 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000000 100%);
background-image: -o-linear-gradient(top, #FFFFFF 0%, #000000 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #000000));
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 100%);
}