---
layout: default
---
<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <h1 id="project_title">{{ page.title }}</h1>
        <h2 id="project_tagline">{{ page.time }}</h2>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
    <p>
        <strong>Location:</strong> {{ page.location }}
        <br>
        <table style="border: none;">
            <tbody><tr>
            {% if page.nearest-stations %}
                <td>Nearest Stations:&nbsp;</td>
                <td>
                {% for station in page.nearest-stations %}
                    {{ station }}<br>
                {% endfor %}
                </td>
            {% else %}
                <td>Nearest Station:&nbsp;</td>
                <td>{{ nearest-station }}</td>
            {% endif %}
            </tr></tbody>
        </table>
        <br>
        <strong>Service Changes:</strong> {{ page.changes-brief }}
        <br>
        For more details on service changes, click the following link: {{ page.changes-ext }}
        <br>
    </p>
    {{ content }}
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p><a href="http://terrellthemtaguy.github.io/">Home</a><br>
    &copy; 2014 Terrell Merritt - Bronx High School of Science</p>
  </footer>
</div>
